/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /*background:#1a1a1a;*/   /*dejo comentado proque es mas fácil para distinguir los sectores de la página*/
    /*sacr de comentario al finalizar para eliminar lo blanco*/
    padding: 20px;
}


/* HEADER */

header {
    background: #1a1a1a;
    /*marshall black*/
    /*background-image: url("img/fondo_1.png");*/
    padding: 20px;
    margin-bottom: 1px;
    border-radius: 8px;
}

.header-contenido {
    /*es el <div> de guitar shop*/
    display: flex;
    justify-content: flex-start;
    /*acomodo los <DIV> de logo y leyenda a la izquierda*/
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    /*Permite a los items flexibles pasar a la siguiente linea si no caben en el contenedor*/
    color: #aa820a;
    /*dorado marshall*/
    font-size: 25px;
}

/* DIV DEL LOGO */

.logo {
    width: auto;
    height: auto;
    /*background:white;*/
    /*afecta al contenedor <div>*/
    border: 1px;
    border-radius: 8px;
    display: flex;
    justify-content: left;
    align-items: center;
}

/* NAV */

nav {
    background: #1a1a1a;
    padding: 20px;
    margin-bottom: 1px;
    /*separación respecto de las otras cajas (botton)*/
    border-radius: 8px;
    font-size: large;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-around;
    /* indico el tipo espaciamiento de los <DIV> que conforman al NAV*/
}

nav a {
    text-decoration: none;
    color: #aa820a;
    font-weight: bold;
}

/* MAIN */

main {
    display: flex;
    gap: 10px;
    margin-bottom: 1px;
    /*separación vertical con el footer*/
}

/* SECTION */

section {
    /*NUESTROS PRODUCTOS*/

    background: #1a1a1a;
    padding: 20px;
    border-radius: 8px;
    color: #aa820a;
    /*color del texto*/
    width: 100%;
    /*pongo para forzar a que abarque el ancho total, de lo contrario queda reducida para que entre <aside>*/
}

/* ARTICLE */

article {
    /*Guitarras...*/
    background: #1a1a1a;
    padding: 20px;
    margin-top: 1px;
    border-radius: 8px;
    color: #aa820a;
    /*color del texto*/
    display: flex;
    justify-content: space-between;
    /*eje x*/
    align-items: center;
    /*eje y*/
    flex-wrap: wrap;
}

.article-1 {
    /*GUITARRAS ELÉCTRICAS*/
    background-image: url('img/fondo\ articulo\ 1.png');
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-size: cover;
    /* Ajusta la imagen para que cubra todo el espacio */
    background-position: center;
    /* Centra la imagen en la pantalla */
    background-attachment: fixed;
    /* Mantiene la imagen fija al hacer scroll */
}

.article-2 {
    /*AMPLIFICADORES*/
    background-image: url('img/fondo\ articulo\ 2.png');
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-size: cover;
    /* Ajusta la imagen para que cubra todo el espacio */
    background-position: center;
    /* Centra la imagen en la pantalla */
    background-attachment: fixed;
    /* Mantiene la imagen fija al hacer scroll */
}

.article-3 {
    /*ACCESORIOS*/
    background-image: url('img/fondo\ articulo\ 3.png');
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    background-size: cover;
    /* Ajusta la imagen para que cubra todo el espacio */
    background-position: center;
    /* Centra la imagen en la pantalla */
    background-attachment: fixed;
    /* Mantiene la imagen fija al hacer scroll */
}

.box-article {
    width: 260px;
    /*233px*/
    /*fender logo (imagen mas grande)*/
    height: 180px;
    /*150px*/
    padding: 10px;
    border: 2px solid #aa820a;
    margin: 10px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #aa820a;
    /*color del texto*/
    align-items: center;
    border-radius: 8px;
    background-color: black;

}

/* FOOTER */

footer {
    /*usar contenedores clase 7, ver archivo*/
    background: #1a1a1a;
    color: #aa820a;
    padding: 20px;
    border-radius: 8px;
}

.footer-container {
    /*text-align: center;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {

    border-radius: 5px;
    background-color: #1a1a1a;
    /*fondo de contendor fomulario  #1a1a1a*/
    padding: 20px;

    label {
        display: block;
    }

    input[type=text] {
        /*nombre*/
        width: 30%;
        padding: 12px;
        margin: 8px 0;
        display: inline-block;
        border: 3px solid #aa820a;
        border-radius: 8px;
        box-sizing: border-box;
    }

    input[type=number] {
        /*tel.*/
        width: 30%;
        padding: 12px;
        margin: 8px 0;
        display: inline-block;
        border: 3px solid #aa820a;
        border-radius: 8px;
        box-sizing: border-box;
    }

    input[type=email],
    /*correo*/
    select {
        width: 30%;
        padding: 12px;
        margin: 8px 0;
        display: inline-block;
        border: 3px solid #aa820a;
        border-radius: 8px;
        box-sizing: border-box;
    }

    textarea {
        /*mensaje*/
        width: 30%;
        padding: 12px;
        margin: 8px 0;
        display: inline-block;
        border: 3px solid #aa820a;
        border-radius: 8px;
        box-sizing: border-box;
    }

}

.tabla-mensajes {

    table {
        width: 100%;
        border-collapse: collapse;      /* Une los bordes de las celdas */
        font-family: sans-serif;
        font-size: 14px;
    }

    th,
    td {
        border: 1px solid #ddd;    /* Borde gris claro */
        padding: 12px 15px;         /* Espacio interno */
        text-align: center;    /* Centra el texto horizontalmente */
        vertical-align: middle; /* Centra el contenido verticalmente */
    }

    th {
        background-color: #e7e6e0;        /* Fondo para la cabecera */
        text-align: center;
        font-weight: bold;
    }

}



/* Media Query para la sección Main*/

@media(max-width:768px) {      /*Dato de INTERNET*/

    main {
        flex-direction: column;
    }

    .header-contenido {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
        /*no responde al comando VER*/
    }

}

/*PAGINA NOSOTROS*/
.box-nosotros {
    width: 502px;
    height: 320px;
    padding: 10px;
    border: 2px solid #aa820a;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: black;

}


/*PÁGINAS DE PRODUCTOS (GUITARRAS ELÉCTRICAS - AMPLIFICADORES - ACCESORIOS*/
  .grid-container {
            display: grid;
            border: 2px solid;
            border-radius: 8px;
            /*grid-template-columns:1fr 1fr auto; /*puse auto ya que de esta forma la columnas ocupan todo el ancho delgrid container principal*/
            /*grid-template-rows: 1fr 1fr 1fr; /*En CSS Grid, fr significa "fraction" (fracción) y se utiliza para distribuir el espacio disponible de forma proporcional entre filas o columnas.*/
            gap: 10px;
            background: #1a1a1a;
            justify-content: space-around;
           

        }

        .tarjeta {
            width: 600px;
            height: 400px;
            border: 2px solid #aa820a;
            border-radius: 8px;
            background:rgba(119, 116, 116, 0.767);
            padding: 15px;
            margin: 20px;
            text-align: center;
        }

        .header {
            text-align: center;
            background: black;
        }

       

        /***************MEDIA QUERIES (DATOS DE LA TÉORICA)*********************/

        /*Tablets*/
        @media(min-width:600px) {
            .grid-container {
                grid-template-columns: 1fr;
            }
        }



        /*Laptops y monitores medianos*/

        @media(min-width:992px) {
            .grid-container {
                grid-template-columns: 1fr;
            }
        }

        /*Pantallas grandes*/

        @media(min-width:1200px) {
            .grid-container {
                grid-template-columns: 1fr auto;
            }
        }

        /******************************************/