/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f5f5f5;
    padding:20px;
}

/* CONTENEDOR GENERAL */

.wrapper{
    max-width:1300px;
    margin:auto;
}

/* HEADER */

header{
    background:#1a1a1a;  /*marshall black*/
    /*background-image: url("img/fondo_1.png");*/
    padding:20px;
    margin-bottom:1px;
    border-radius:8px;
}

.header-contenido{   /*es el <div> de guitar shop*/
    display:flex;
    justify-content:flex-start;   /*acomodo los <DIV> de logo y leyenda a la izquierda*/
    align-items:center;
    gap:20px;
    flex-wrap:wrap;
    color:#aa820a;    /*dorado marshall*/
    font-size: 25px;
}

/* DIV DEL LOGO */

.logo{
    width:auto;
    height:auto;
    /*background:white;*/  /*afecta al contenedor <div>*/
    border:1px;
    border-radius:8px;
    display:flex;
    justify-content:left;
    align-items:center;
}

/* NAV */

nav{
    background:#1a1a1a;
    padding:20px;
    margin-bottom:1px;    /*separación respecto de las otras cajas (botton)*/
    border-radius:8px;
}

nav ul{
    list-style:none;
    display:flex;
    gap:15px;
    flex-wrap:wrap;
    justify-content: space-around; /* indico el tipo espaciamiento de los <DIV> que conforman al NAV*/
}

nav a{
    text-decoration:none;
    color:#aa820a;
    font-weight:bold;
}

/* MAIN */

main{
    display:flex;
    gap:10px;
    margin-bottom:1px;    /*separación vertical con el footer*/
}

/* SECTION */

section{     /*Nuestros Productos*/
    flex:3;             /*Cómo funciona con números:0: El elemento no crece aunque haya espacio libre.1: El elemento crece de 
                        forma equitativa compartiendo el espacio sobrante con los demásque tengan 1.2 o más: 
                        El elemento crece el doble (o el triple) más rápido que los que tienen valo*/
    background:#1a1a1a;
    padding:20px;
    border-radius:8px;
    color:#aa820a;             /*color del texto*/
}

/* ARTICLE */

article{     /*Guitarras...*/
    background:#aa820a;;
    padding:20px;
    margin-top:15px;
    border-radius:8px;
    color:antiquewhite;   /*color del texto*/
}


/* FOOTER */

footer{                               /*usar contenedores clase 7, ver archivo*/
    background:#111111;
    color:#aa820a;
    padding:20px;
    border-radius:8px;
    display: flex;   
    align-items: center;
}

.footer-container{
    /*text-align: center;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* RESPONSIVE */

@media(max-width:768px){

    main{
        flex-direction:column;
    }

    .header-contenido{
        flex-direction:column;
        text-align:center;
    }

    nav ul{
        flex-direction:column;
    }

}
