/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f5f5f5;
    padding:20px;
}

/* CONTENEDOR GENERAL */

.wrapper{
    max-width:1300px;
    margin:auto;
}

/* HEADER */

header{
    background:#ff6b6b;
    padding:20px;
    margin-bottom:10px;
    border-radius:8px;
}

.header-contenido{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:20px;
    flex-wrap:wrap;
}

/* DIV DEL LOGO */

.logo{
    width:auto;
    height:auto;
    /*background:white;*/  /*afecta al contenedor <div>*/
    border:1px solid #333;
    border-radius:8px;

    display:flex;
    justify-content:left;
    align-items:center;

    /*font-weight:bold;*/
    /*font-size:1.2rem;*/
}

/* NAV */

nav{
    background:#4dabf7;
    padding:20px;
    margin-bottom:10px;
    border-radius:8px;
}

nav ul{
    list-style:none;
    display:flex;
    gap:15px;
    flex-wrap:wrap;
    justify-content: right;
}

nav a{
    text-decoration:none;
    color:black;
    font-weight:bold;
}

/* MAIN */

main{
    display:flex;
    gap:10px;
    margin-bottom:10px;
}

/* SECTION */

section{     /*Nuestro Productos*/
    flex:3;
    background:#69db7c;
    padding:20px;
    border-radius:8px;
}

/* ARTICLE */

article{     /*Guitarras...*/
    background:#ffd43b;
    padding:20px;
    margin-top:15px;
    border-radius:8px;
}

/* ASIDE */

aside{
    flex:1;
    background:#b197fc;
    padding:20px;
    border-radius:8px;
}

/* FOOTER */

footer{
    background:#868e96;
    color:white;
    padding:20px;
    border-radius:8px;
    text-align: center;
}



/* RESPONSIVE */

@media(max-width:768px){

    main{
        flex-direction:column;
    }

    .header-contenido{
        flex-direction:column;
        text-align:center;
    }

    nav ul{
        flex-direction:column;
    }

}
